/*クリアフィックス*/

.cf:after {
  clear: both;
  content: '';
  display: block;
}

.fadein {
  opacity: 0;
  transform: translate(0, 50px);
  transition: all 300ms;
}

.fadein.scrollin {
  opacity: 1;
  transform: translate(0, 0);
}

/*-- PC版表示CSS  --*/

.pc {
  display: inline-block;
}

.sp {
  display: none;
}

#opening {
  text-align: center;
  margin: 200px auto;
}

#opening p {
  font-size: 30px;
  color: #725b59;
}

body {
  background-image: url(../image/background.jpg);
}

#all {
  max-width: 1000px;
  text-align: center;
  line-height: 200%;
  margin: 150px auto 0;
  font-size: 16px;
  color: #725b59;
  font-family: "YuGothic", "Yu Gothic", "Meiryo", "ヒラギノ角ゴ", "sans-serif";
}

.site-header {
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  justify-content: space-between;
  width: 100%;
  z-index: 999;
}

.gnav {
  display: flex;
  margin: auto;

}

.gnav__menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gnav__menu__item {
  margin-left: 30px;
  list-style: none;
}


.logo a {
  color: #725b59;
  text-decoration: none;
}

.menu_icon {
  margin-right: 6px;
}

.gnav__menu__item a {
  color: #725b59;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.gnav__menu__item a::after {
  position: absolute;
  bottom:-8px;
  left: 0;
  content: '';
  width: 100%;
  height: 5px;
  background:  #d7e847;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
.gnav__menu__item a:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}



img {
  max-width: 100%;
}

.table1 {
  width: 450px;
  margin: 10px auto;
}

.table2 {
  width: 600px;
  margin: 10px auto;
  line-height: 0;
  z-index: 980;
  position: relative;
}

.list {
  max-width: 600px;
  font-size: 12px;
}

ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: center;
}

li {
  list-style-type : none;
  text-align: left;
}

.underLine {
  background: linear-gradient(transparent 40%, #d7e847 40%);
}


.sec1, .sec2, .sec3, .sec4 {
  padding-top: 180px;
}
a {
  display: block;
}
a:link {
  color: #725b59;
}

a:visited {
  color: #725b59;
}

a:hover {
  color: #725b59;
}

a:active {
  color: #725b59;
}

/*---------------------------------------------*/

.mv_ttl {
  width: 246px;
}

.mv_bird {
  width: 90px;
  position: relative;
  top: -110px;
  left: 240px;
  margin: -110px 0 0;
}

.mvimg {
  width: 1000px;
  margin-top: -30px;
}

.dogrun {
  width: 250px;
}

.hotel {
  width: 180px;
}

.trimming {
  width: 300px;
}

.store {
  width: 180px;
}

.dogrunimg, .trimmingimg {
  width: 140px;
  position: relative;
  top: -50px;
  right: 240px;
  margin: -120px 0 0;
}

.hotelimg, .storeimg {
  width: 140px;
  position: relative;
  top: -50px;
  left: 220px;
  margin: -120px 0 0;
}

.dog1, .dog2, .dog3 {
  width: 80px;
}

.master {
  width: 750px;
}

.dog_icon {
  font-size: 20px;
  font-weight: bold;
  margin: 30px auto 10px;
}

.dog_icon img {
  width: 22px;
  margin: 0 10px 0 0;
}

.floatbox {
  width: 70%;
  margin: 50px auto 0;
  display: -webkit-flex;
  display: flex;
}

.le {
  width: 80%;
  text-align: left;
}

.ri {
  margin: 30px auto;
  width: 100%;
}

.maps {
  margin: 20px auto;
  width: 80%;
}

.footer {
  font-size: 13px;
  margin-top: 150px;
}


@media screen and (max-width: 768px) {
  #opening {
    text-align: center;
    margin: 140px auto;
  }
  #all {
    max-width: 95%;
    color: #725b59;
    margin-top: 60px;
  }
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  ul {
    display: block;
    text-align: center;
  }
  li {
    margin: 0 20px;
    border-top:1px solid #d7e847;
  }
  #nav-content ul a {
    padding: 20px;
    text-decoration: none;
  }
  #nav-content h1 {
    margin-right: 90px;
  }
  .logo_sp {
    margin: 20px 0 0 30px;
  }

  .mv_bird {
    width: 90px;
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0;
  }
  .dogrunimg, .trimmingimg {
    width: 140px;
    position: relative;
    top: 0px;
    right: 0px;
    margin: 0;
  }
  .hotelimg, .storeimg {
    width: 140px;
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0;
  }
  floatbox {
    width: 100%;
    margin: 50px auto 0;
    display: -webkit-flex;
    display: flex;
  }
  .le {
    width: 100%;
    text-align: left;
  }
  .ri {
    margin: 60px auto;
    width: 100%;
  }
  .list {
    font-size: 12px;
    text-align: left;
  }
  .table1 {
    width: 100%;
    margin: 10px auto;
  }
  .table2 {
    width: 100%;
    margin: 10px auto;
    line-height: 0;
  }
  .maps {
    margin: 0;
    position: relative;
    width: 100%;
    padding-top: 56.25%;
  }
  .maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 170% !important;
  }
  .site-header_sp {
    display: flex;
    position: fixed;
    text-align: left;
    top: 10px;
    right: 0;
    z-index: 999;
  }
  #nav-drawer {
    position: relative;
  }
  /*チェックボックス等は非表示に*/
  .nav-unshown {
    display: none;
  }
  /*アイコンのスペース*/
  #nav-open {
    margin-right: 10px;
    display: inline-block;
    width: 50px;
    height: 42px;
    vertical-align: middle;
  }
  /*ハンバーガーアイコンをCSSだけで表現*/
  #nav-open,
  #nav-open span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }
  #nav-open {
    position: relative;
    z-index: 2;
    width: 50px;
    height: 44px;
  }
  #nav-open span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #725b59;
    border-radius: 4px;
  }
  #nav-open span:nth-of-type(1) {
    top: 0;
  }
  #nav-open span:nth-of-type(2) {
    top: 20px;
  }
  #nav-open span:nth-of-type(3) {
    bottom: 0;
  }
  #nav-open.active span:nth-of-type(1) {
    -webkit-transform: translateY(20px) rotate(-45deg);
    transform: translateY(20px) rotate(-45deg);
  }
  #nav-open.active span:nth-of-type(2) {
    opacity: 0;
  }
  #nav-open.active span:nth-of-type(3) {
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(-20px) rotate(45deg);
  }

  /*閉じる用の薄黒カバー*/
  #nav-close {
    display: none;
    /*はじめは隠しておく*/
    position: fixed;
    z-index: 0;
    top: 0;
    /*全体に広がるように99*/
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
  }
  /*中身*/
  #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    /*最前面に9999*/
    width: 90%;
    /*右側に隙間を作る（閉じるカバーを表示）*/
    max-width: 330px;
    /*最大幅（調整してください）*/
    background: #fff;
    /*背景色*/
    transition: .3s ease-in-out;
    /*滑らかに表示*/
    -webkit-transform: translateX(-105%);
    transform: translateX(105%);
    /*左に隠しておく*/
    border-radius: 0 0 0 20px;
  }
  /*チェックが入ったらもろもろ表示*/
  #nav-input:checked~#nav-close {
    display: block;
    /*カバーを表示*/
    opacity: .5;
  }
  #nav-input:checked~#nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    /*中身を表示（右へスライド)*/
    box-shadow: 6px 0 25px rgba(0, 0, 0, .15);
  }
  .footer {
    font-size: 12px;
    margin-top: 250px;
  }
}

.dog3 {
  z-index: 0;
}

.pyon1 {
  opacity: 0;
  position: absolute;
  top: 860px;
}

.pyon2 {
  opacity: 0;
  position: absolute;
  top: 1140px;
}

.pyon3 {
  opacity: 0;
  position: absolute;
  top: 1410px;
}

/*topに戻る*/
.pagetop {
  margin-right: 10px;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #fff;
  opacity: 0.8;
  display: none;
  position: fixed;
	z-index: 3;
  right: 0;
  bottom: 50px;
}
.pagetop a {
  display: block;
  text-align: center;
  line-height: 65px;
  text-decoration: none;
}
.pagetop a:hover {
  text-decoration: none;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: #d7e847;
  opacity: 0.8;
}
